*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body{
	background-color: aliceblue;
	margin: 0;
	font-size: 1.5rem;
	font-family: 'Noto Serif KR', serif;
}

h1 {
	font-family: 'Black Ops One', cursive;
	padding-left: 100px;
}

a {
	color: black;
}

/* Mise en page (positionnement)
========================================================================== */

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */

nav ul {
	padding-left: 0;
}

header {
	background-color: #D0D0B9 ;
}

.flex-cotes {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}

nav a {
	text-decoration: none;
}

nav {
	padding-right: 100px;
}


/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */



/* Formulaires
========================================================================== */



/* Règles spécifiques aux pages
========================================================================== */
.accueil{
	text-align: center;
}