*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body{
	background-color: aliceblue;
	margin: 0;
	font-size: 1.5rem;
	font-family: 'Noto Serif KR', serif;
}

h1 {
	font-family: 'Black Ops One', cursive;
}

a {
	color: black;
}

/* Mise en page (positionnement)
========================================================================== */

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */
header {
	background-color: #D0D0B9 ;
}

.flex-cotes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 100px 0 100px;
}

nav li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}

nav a {
	text-decoration: none;
	padding: 5px;
	border: 0px solid #D0D0B9;
	transition: 300ms;
}

nav a:hover{
	background-color: lightgray;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 10px;
	transition: 300ms;
}

footer {
	background-color: gray;
}

/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */



/* Formulaires
========================================================================== */



/* Règles spécifiques aux pages
========================================================================== */
